$brand:rgb(126, 0, 255);
$brand-alt:rgb(29, 184, 243);

$text-base-light: hsl(220, 0%, 10%);
$text-alt-light: hsl(220, 0%, 20%);
$text-alt-2-light: hsl(220, 0%, 44%);
$border-light: rgba(255, 255, 255, 0.15);


@import "partials/base";

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans:400,600,700&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    vertical-align: baseline;
}

.e-backdrop {
    background: linear-gradient(to bottom, rgba(81, 193, 255, .8) 1%, rgba(130, 68, 253, .9) 100%);
}

.e-c-bg-body {
    background: #fff linear-gradient(to bottom, rgba(81, 193, 255, .85) 1%, rgba(130, 68, 253, .95) 100%);
}

/* Start: Special Typeface */
.fortnite-typeface {
    font-family: 'Luckiest Guy', cursive;
}

.fortnite-event-title {
    color: #fff;
    background: $brand;
    position: relative;
}

.fortnite-event-title:after {
    background-color: inherit;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
    /* clip-path: polygon(0 0, 0% 100%, 100% 100%); */
    content: "";
    height: 100%;
    width: 15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: -0.5px;
    top: 0;
    margin-left: 100%;
}

.fortnite-skewed {
    -webkit-clip-path: polygon(3% 0, 100% 3%, 100% 91%, 0 100%);
    clip-path: polygon(3% 0, 100% 3%, 100% 91%, 0 100%);
}

.fortnite-skewed-alt {
    -webkit-clip-path: polygon(10% 15%, 72% 5%, 60% 20%, 100% 12%, 92% 95%, 0 100%);
    clip-path: polygon(10% 15%, 72% 5%, 60% 20%, 100% 12%, 92% 95%, 0 100%);
}